/* src/index.css */

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  p {
    line-height: 1.625;
  }
}

@font-face {
  font-family: 'GmarketSansLight';
  src: url('/font/GmarketSansTTFLight.ttf') format('truetype');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'GmarketSansMedium';
  src: url('/font/GmarketSansTTFMedium.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'GmarketSansBold';
  src: url('/font/GmarketSansTTFBold.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
}

* {
  font-family: 'GmarketSansMedium', sans-serif;
}